body{
    background-image: url('/background.jpg');
    margin: 0px;
    padding: 0px;
    color: white;
    height: 3000px;
}
.starting{
    position: absolute;
    display: block;
    width: 30%;
    left: 20px;
    top: 8px;
}
.starting img{
    width: 10%;
    height: 10%;
}
.centerme{
    width: 700px;
    margin: -2px auto;
}
.centerme li{
    list-style: none;
    float: left;
    padding: 10px 20px;
    text-align: center;
}
.endme{
    position: absolute;
    left: 1400px;
    top: 20px;
    margin-bottom: 20px 0px;
}
.navi{
    font-family: 'Fruktur', cursive;
}
.navi a{
    text-decoration: none;
    color: white;
    padding: 2px;
}
.navi a:hover{
    color: rgb(255, 72, 0);
    background-color: aliceblue;
    border-radius: 10px;
}
.formfill{
    border: 8px solid red;
    border-radius: 10px;
    position: absolute;
    left: 170px;
    top: 170px;
    width: 400px;
    height: 350px;
    align-items: center;
}
.formfill ul{
    list-style: none;
}
.formfill li{
    margin: 20px 72px;
    font-family: 'Fruktur', cursive;
    color: white;
    text-align: center;
    margin-left: 43px;
}
.data{
    height: 25px;
    text-align: center;
    font-family: 'Fruktur', cursive;
    font-weight: 500;
    color: rgb(219, 9, 9);
    border-radius: 15px;
    width: 234px;
    border: 4px solid red;
}
.data:hover{
    background-color: greenyellow;
}
.data2{
    margin: 10px 50px;
    font-family: 'Fruktur', cursive;
    size: 40px;
    border-radius: 10px;
    height: 25px;
    width: 157px;
    color: rgb(204, 7, 7);
    /* background-color: grey; */
}
.data2:hover{
    background-color: rgb(233, 57, 57);
    color: rgb(224, 217, 217);
}